{% extends 'base.html' %}

{% block main %}
  <div>
    <h1>Yale Lab Rat</h1>
    <p>
      {% if user and not user.is_anonymous %}
        <a>Hello {{ user.get_full_name|default:user.username }}!</a>
        <p>{{token}}</p>
        <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
      {% else %}
        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
      {% endif %}
      <ul>
        {% for post in posts %}
          <li> {{ post.message }}</li>
        {% endfor %}
      </ul>
    </p>
  </div>
{% endblock %}